.link,
.footerLink {
    display: inline-flex;
    align-items: center;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-sm);
    color: var(--mantine-color-pink-6);
    font-size: var(--mantine-font-size-md);
    text-decoration: none;
    transition:
        background-color 150ms ease,
        color 150ms ease;

    &:hover {
        background-color: var(--mantine-color-gray-0);
    }
}

.link {
    color: var(--mantine-color-pink-6);
    &:hover {
        color: var(--mantine-color-pink-filled);
    }
}

.footerLink {
    color: var(--mantine-color-gray-6);
    &:hover {
        color: var(--mantine-color-gray-9);
    }
}
